# =========================
# LARAVEL
# =========================

/vendor
/node_modules
/public/storage

# STORAGE
/storage/*.key
/storage/app/public
/storage/framework/
/storage/logs/

# CACHE
/bootstrap/cache/*.php

# ENV (MUY IMPORTANTE)
/.env
.env.backup
.env.*.local

# =========================
# BUILD / VITE
# =========================

/public/build
/public/hot

# =========================
# FRONTEND / TAILWIND
# =========================

/node_modules
/dist
/build

# Logs
npm-debug.log
yarn-error.log
pnpm-debug.log

# =========================
# TESTING
# =========================

/phpunit.result.cache

# =========================
# IDEs / OS
# =========================

/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

.DS_Store
Thumbs.db

# =========================
# OTROS
# =========================

*.log
*.cache